body {
    font-family: 'Consolas';
    margin: 12px;
}

.settings-text {
    margin: 0px;
    margin-top: 10px;
    font-size: 12px;
}

.btn {
    margin-top: 14px;
}

.settings {
    margin-left: 10px;
    margin-bottom: 10px;
}